{% extends "encyclopedia/layout.html" %}

{% block title %}
    Create a Page
{% endblock %}

{% block body %}
    <h1>Create a page!</h1>
    <form action="{% url 'views:create' %}" method="post">
        {% csrf_token %}
        <div>
            <label for="title">Title:</label>
        </div>
        <div>
            <input type="text" id="title" name="title" autofocus  required>
        </div>
        <div>
            <label for="content">Content:</label>
        </div>
        <div>
            <textarea id="content" name="content" required></textarea>
        </div>
        <div>
            <input id="create" type="submit" value="Create Page">
        </div>
    </form>
{% endblock %}